@tailwind base;
@layer base{
    @font-face {
        font-family: 'Beaufort for LOL Font';
        src: url('~/assets/fonts/BeaufortforLOL-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Beaufort for LOL Font';
        font-weight: 700;
        src: url('~/assets/fonts/BeaufortforLOL-Bold.ttf') format('truetype');
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Beaufort for LOL Font';
        font-weight: 300;
        src: url('~/assets/fonts/BeaufortforLOL-Light.ttf') format('truetype');
        font-style: normal;
      }
      
      @font-face {
        font-family: 'Beaufort for LOL Font';
        font-weight: 500;
        src: url('~/assets/fonts/BeaufortforLOL-Medium.ttf') format('truetype');
        font-style: normal;
      }
}

@tailwind components;
@tailwind utilities;